*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20%;
    width: 50%;
     background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);  
}
#btn {
    background-color: #EDDD53;
    color: #2A7B9B;
    font-size: 20px;
    padding: 10px ;
    border-radius: 10px;
    border: none;
    width: 50%;
    margin-top: 12px;
}
label{
    font-size: 4rem;
    color: white;
}
select{
    font-size: 20px;
    padding: 10px ;
    border-radius: 10px;
    border: none;
    width: 80%;
    background-color: #2A7B9B;
    color: #EDDD53;

}