*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20%;
    width: 50%;
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
     }
#btn{
    background-color: #FCB045;
    color: #FD1D1D;
    font-size: 20px;
    padding: 10px ;
    border-radius: 10px;
    border: none;
    width: 50%;
    margin-top: 12px;
}
label{
    font-size: 4rem;
    color: white;
}
select{
    font-size: 20px;
    padding: 10px ;
    border-radius: 10px;
    border: none;
    width: 80%;
    background-color:#833AB4;
    color: #fff;

}